<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">name</th>
                            <th scope="col">country</th>
                            <th scope="col">logo</th>
                            <th scope="col">website</th>
                            <th scope="col">established</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of passengers.passengers">
                            <td>{{i.name}}</td>
                            <td>{{i.country}}</td>
                            <td>{{i.logo}}</td>
                            <td>{{i.website}}</td>
                            <td>{{i.established}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
